<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Task Manager
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}
		<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}

		{% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}
		{% if frankenphpHotReload %}
			<meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
			<script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
			<script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
		{% endif %}
	</head>
	<body class="bg-gradient-to-br from-indigo-100 via-indigo-50 via-yellow-50 to-yellow-100 font-mono">
		<header class="p-6 bg-indigo-300 shadow-lg">
			<nav class="grid grid-cols-3 items-center">
				<div class="grid grid-cols-2 gap-6 text-lg justify-self-start px-6 items-center">
					<a href="create">
						<span class="flex text-black gap-3 text-md items-center p-4 border border-black rounded-lg font-black shadow-lg bg-gradient-to-br from-indigo-300 via-yellow-300 via-yellow-300 to-indigo-300">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 12h16.5m-16.5 3.75h16.5M3.75 19.5h16.5M5.625 4.5h12.75a1.875 1.875 0 0 1 0 3.75H5.625a1.875 1.875 0 0 1 0-3.75Z"/>
							</svg>
							Task Manager
						</span>
					</a>
				</div>
				<div class="grid grid-cols-2 gap-6 text-lg justify-self-center">
					<a href="create">
						<span class="flex justify-center gap-3 text-md items-center py-2 px-3 rounded-lg shadow-md transition  {{ app.request.pathinfo == '/tasks/create' ? 'bg-yellow-200 text-indigo-900' : 'bg-yellow-100 transition hover:-translate-y-1 hover:shadow-3xl hover:bg-yellow-200 hover:text-indigo-900' }}">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
							</svg>
							Add Task
						</span>
					</a>
					<a href="table">
						<span class="flex justify-center gap-3 text-md items-center py-2 px-3 rounded-lg shadow-md {{ app.request.pathinfo == '/tasks/table' ? 'bg-yellow-200 text-indigo-900' : 'bg-yellow-100 transition hover:-translate-y-1 hover:shadow-3xl hover:bg-yellow-200 hover:text-indigo-900' }}">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M3.375 19.5h17.25m-17.25 0a1.125 1.125 0 0 1-1.125-1.125M3.375 19.5h7.5c.621 0 1.125-.504 1.125-1.125m-9.75 0V5.625m0 12.75v-1.5c0-.621.504-1.125 1.125-1.125m18.375 2.625V5.625m0 12.75c0 .621-.504 1.125-1.125 1.125m1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125m0 3.75h-7.5A1.125 1.125 0 0 1 12 18.375m9.75-12.75c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125m19.5 0v1.5c0 .621-.504 1.125-1.125 1.125M2.25 5.625v1.5c0 .621.504 1.125 1.125 1.125m0 0h17.25m-17.25 0h7.5c.621 0 1.125.504 1.125 1.125M3.375 8.25c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125m17.25-3.75h-7.5c-.621 0-1.125.504-1.125 1.125m8.625-1.125c.621 0 1.125.504 1.125 1.125v1.5c0 .621-.504 1.125-1.125 1.125m-17.25 0h7.5m-7.5 0c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125M12 10.875v-1.5m0 1.5c0 .621-.504 1.125-1.125 1.125M12 10.875c0 .621.504 1.125 1.125 1.125m-2.25 0c.621 0 1.125.504 1.125 1.125M13.125 12h7.5m-7.5 0c-.621 0-1.125.504-1.125 1.125M20.625 12c.621 0 1.125.504 1.125 1.125v1.5c0 .621-.504 1.125-1.125 1.125m-17.25 0h7.5M12 14.625v-1.5m0 1.5c0 .621-.504 1.125-1.125 1.125M12 14.625c0 .621.504 1.125 1.125 1.125m-2.25 0c.621 0 1.125.504 1.125 1.125m0 1.5v-1.5m0 0c0-.621.504-1.125 1.125-1.125m0 0h7.5"/>
							</svg>
							Table
						</span>
					</a>
				</div>
			</nav>
		</header>
		{% block body %}{% endblock %}
	</body>
</html>
